$hero-heading-size: 5rem;
$hero-letter-spacing: 5px;
$hero-desc-size: 1.4rem;
$hero-desc-weight: 600;

$font-size-1: 1rem;
$font-size-2: 1.4rem;
$font-size-3: 1.8rem;
$font-size-4: 2.4rem;
$font-size-5: 3rem;
$font-size-6: 4rem;

$space-1: 0.3rem;
$space-2: 0.7rem;
$space-3: 1rem;
$space-4: 1.3rem;
$space-5: 1.8rem;
$space-5-half: 2.4rem;
$space-6: 3rem;

$height-1: 3rem;
$height-2: 4rem;
$height-3: 6rem;

$btn-padding-tb: 00.7rem;
$btn-padding-lr: 2.4rem;

$color-white: #fff;
$color-grey: #d8d9cf;
$color-deep-blue: #030637;
$color-dark-blue: #1f2544;
$color-light-blue: #474f7a;
$color-purple-blue: #3b3486;
$color-sky-blue: #86a7fc;
$color-orange: #fc6736;
$color-red: #ff0000;
$color-green: #12372a;

$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 10px;
$border-radius-4: 15px;

$transition-1: background-color 0.3s ease-in;
$transition-transform: transform 0.9s ease;
$transition-pressed: 0.7s ease-in-out;

$btn-pressed-effect: translateY(5px);
