@import '../../styles/variables';

.miss_me_page {
  min-height: 100vh;
  background-image: url('../../assets/images/sherlocked-miss-me.gif');
  overflow: hidden;
  background-size: cover;
  background-position: center;
  animation: divideImage 5s forwards;
  display: flex;
  justify-content: center;
  align-items: center;

  .miss_me_container {
    width: 60%;
    margin: $space-3 auto;
    display: none;

    &.show {
      display: block;
      animation: popUp 1s forwards;
    }

    .miss_me_details {
      text-align: center;
      padding: $space-2;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        font-size: $font-size-4;
      }

      h4 {
        font-size: $font-size-3;
      }

      img {
        width: 200px;
        height: 250px;
        margin: 0 auto;
      }
    }
  }
}

.special {
  color: $color-sky-blue;
}

@keyframes divideImage {
  0% {
    background-size: 90%;
    background-position: center;
  }
  20% {
    background-size: 75%;
    background-position: center;
  }

  40% {
    background-size: 60%;
    background-position: center;
  }
  60% {
    background-size: 45%;
    background-position: center;
  }
  80% {
    background-size: 30%;
    background-position: center;
  }
  100% {
    background-size: 15%;
    background-position: center;
  }
}

@keyframes popUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
