@import '../../styles/variables';

.not_found_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .not_found_container {
    width: 90%;
    margin: $space-2 auto;
    padding: $space-2;

    .not_found_details {
      text-align: center;
      padding: $space-2 $space-3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      h2 {
        font-size: $font-size-4;
      }

      .watson_img {
        width: 500px;
        margin: $space-2 auto;
      }

      .btn_container {
        display: flex;
        flex-direction: row;
        gap: $space-3;
      }
    }
  }
}

@media screen and (max-width: 428px) {
  .not_found_page {
    .not_found_container {
      width: 90%;
      margin: $space-2 auto;
      padding: $space-2;

      .not_found_details {
        padding: $space-1 $space-2;

        h2 {
          font-size: $font-size-2;
        }

        .watson_img {
          width: 250px;
          margin: $space-1 auto;
        }

        .btn_container {
          gap: $space-2;
        }
      }
    }
  }
}
