@import '../../styles/variables';

.excerpt_container {
  width: 80%;
  margin: $space-6 auto;
  text-align: left;
  font-size: 0.8rem;

  h1 {
    font-size: $font-size-2;
    text-decoration: underline;
    padding-bottom: $space-3;

    .special {
      color: $color-sky-blue;
    }
  }

  .excerpt_text {
    .special_link {
      text-decoration: none;
      color: inherit;
      font-family: inherit;
    }
  }
}

.special_text {
  color: inherit;

  &:hover {
    color: $color-sky-blue;
  }
}

@media screen and (max-width: 428px) {
  .excerpt_container {
    width: 80%;
    margin: $space-4 auto;
    text-align: left;
    font-size: 0.8rem;

    h1 {
      font-size: $font-size-2;
      padding-bottom: $space-2;
    }
  }
}
