@import '../../styles/variables';

.hint_container {
  padding: $space-3;
  color: $color-orange;

  i {
    &:hover {
      cursor: pointer;
    }
  }
}

.hint_message {
  padding: 0 $space-3;
  color: $color-orange;
}
