@import '../../styles/variables';

.quote_container {
  margin: $space-5 auto;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  .quote_box {
    .quote_text {
      font-size: $font-size-4;
      position: relative;

      &:before,
      &:after {
        position: absolute;
        color: $color-grey;
        font-size: $font-size-6;
        width: 4rem;
        height: 4rem;
      }

      &:before {
        content: '“';
        top: -1.5rem;
        left: -1.5rem;
      }

      &:after {
        content: '”';
        bottom: -2.5rem;
        right: -1.5rem;
      }
    }
  }

  .credit_box {
    margin-top: $space-4;

    .quote_credit {
    }
  }
}

@media screen and (max-width: 428px) {
  .quote_container {
    margin: $space-3 auto;
    max-width: 100vw;
    gap: 1rem;
    .quote_box {
      .quote_text {
        font-size: $font-size-2;
        position: relative;

        &:before,
        &:after {
          position: absolute;
          color: $color-grey;
          font-size: $font-size-4;
          width: 2rem;
          height: 2rem;
        }

        &:before {
          content: '“';
          top: -0.5rem;
          left: 2rem;
        }

        &:after {
          content: '”';
          bottom: -0.5rem;
          right: 2rem;
        }
      }
    }

    .credit_box {
      margin: $space-3 auto 0;
      width: 80%;

      .quote_credit {
      }
    }
  }
}
